.timeline:after,
.timeline:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #737373;
}
.timeline {
    text-align: center;
    font-size: 14px;

}
