.chatContainer {
    margin: 20px auto;
    width: 90%;
    border: 1px gray solid;
    flex-grow: 1;
    height: calc(100vh - 193px);
}
.chatHeader {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
    border-bottom: 1px solid #858585;
}
.chatName {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.chatHeader .time {
    grid-column-start: 4;
    grid-column-end: -1;
    text-align: right;
}
.chatBody {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100% - 133px);
}
.chatFooter {
    padding: 10px;
    display: flex;
    align-items: center;
}
.chatFooter textarea {
    width: 70%;
    margin-right: 15px;
    resize: none;
    padding: 10px;
}
.chatFooter button {
    height: 30px;
}
