.usersList {
    margin: 25px 0;
    min-height: calc(100vh - 202px);
}

.usersList h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #444;
}

.usersList ul li {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding: 15px 0;
    border: 1px solid #343e5c;
    margin: 10px 0;
}

.usersList ul li h4 {
    flex-grow: 7;
    text-align: center;
    line-height: 45px;
}

.listButton {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    background-color: #FFF;
    border: none;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    color: #FFF;
    margin-right: 15px;
}

.editBtn {
    border: 1px solid #0099cc;
    background-color: #1ac6ff;
}

.editBtn:hover {
    background-color: #80dfff;
}

.deleteBtn {
    border: 1px solid #b30000;
    background-color: #ff0000;
}

.deleteBtn:hover {
    background-color: #ff6666;
}

.createBtn {
    border: 1px solid #00b300;
    background-color: #00e600;
}

.createBtn:hover {
    background-color: #66ff66;
}
