.editUser {
    margin: 25px 0;
    height: calc(100vh - 202px);
}

.editUser h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #444;
}

.editUser form {
    width: 350px;
    margin: 0 auto;
}
